<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>p5.js</title>
    <meta name="description" content="isomer.js on Glitch">
<!--     <script type="text/javascript" src="isomer.min.js"></script> -->
    <script type="text/javascript" src="isomer.js"></script>
    <script type="text/javascript" src="iso.js"></script>

  </head>
  <body style="margin:0px;">
    <header style="position:fixed;top:20px;right:20px;">
      <p>isomer.js Demo</p>
      <div class="glitchButton" style="position:fixed;top:80px;right:20px;"></div>  
    </header>
    
    <canvas width="1200" height="1200" id="art" 
            style="margin-left:10px; width:800px; height:800px;"></canvas>
    
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
  </body>
</html>
